* {
  box-sizing: border-box;
  overflow: visible;
}
body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}
main {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
main .photo {
  background-image: url("../images/drawers.jpg");
  flex-basis: 300px;
  width: 100%;
  background-size: cover;
}
@media (min-width: 991px) {
  main {
    flex-direction: row;
    width: 900px;
  }
  main .photo {
    height: 350px;
    flex-basis: 1000px;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 350px;
  }
}
main .info {
  padding: 25px 20px;
}
main .info .head {
  font-weight: 700;
  line-height: 1.7;
  color: hsl(217, 19%, 35%);
  font-size: 1.4em;
}
main .info .text {
  margin-bottom: 0px;
  line-height: 1.7;
  color: hsl(214, 17%, 51%);
  font-size: 1.17em;
}
main .share {
  display: flex;
  padding: 25px 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  position: relative;
  margin-bottom: 0;
  width: 100%;
}
main .share .avatar img {
  border-radius: 50%;
  width: 50px;
}
main .share .avatar {
  width: 100%;
  flex: 0.5;
}
main .share .data {
  flex: 2;
}
main .share .data p {
  margin: 0 0 7px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
main .share .data span {
  display: inline-block;
  margin-top: 0;
  color: hsl(212, 23%, 69%);
}
main .share .icon {
  flex-basis: 2;
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
main .share .bar {
  display: flex;
  padding-left: 30px;
  justify-content: flex-start;
  letter-spacing: 0.5em;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: hsl(217, 19%, 35%);
  height: 100%;
  display: none;
}
@media (min-width: 991px) {
  main .share .bar {
    width: fit-content;
    padding: 15px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    z-index: 1;
    left: 265px;
    top: -50px;
    position: absolute;
  }
  main .share .bar::before {
    content: "";
    background-color: transparent;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    width: 0;
    top: 100%;
    left: calc(100% - 47px);
    position: absolute;
  }
  main .share .bar img {
    max-width: 100%;
  }
}
main .share .bar p {
  color: hsl(212, 23%, 69%);
}
